
h1 {
  font-size: 200%
  font-family: Verdana;
}



#feature {
  position: relative;
  border-radius: 5px solid black;
  height:550px;
  width:150px;
  margin: 10px 100px 5px 310px;
}

#feature img {
  position: absolute;
  left:0;
   -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

  @keyframes cf3FadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#feature img.top {
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 10s;
animation-direction: alternate;
}

.opening{
   font-family: Georgia;
   font-size: 120%;
}

#Conte{
  font-size: 170%;
  font-family: Impact;
}

#Weare{
  margin-left: 60px; 
}

#Thomas{
  font-family: Impact;
  font-size: 170%;
}

#Ahmed{
  font-family: Impact;
  font-size: 170%;
}

#Lampard{
  margin-left: 60px;
}

#Mourinho{
  font-family: Impact;
  font-size: 170%;
}

#endpic{
  margin-left: 60px;
}

#lastline{
  font-family: Impact;
  font-size: 170%;
}

h2 {
  text-align: center;
  font-family: Impact;
}

.button-box{
  text-align: center;
}

button{
  padding: 20px;
  margin: 20px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 15px;
  background-color: blue;
  color: white;
}

.tweet{
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px;
  margin: 5px;
  display: none;
}

.tweet.profile img{
  width: 10px;
  border-radius: 10px;
  align-content: right;
  
}

.tweet .tweet-content{
  font-size: 20px;
  margin: 20px;
  font-family: Helvetica;
  text-align: center;
}

body{
  background-color: #87ceeb;
}

.Date{
  font-size: 14px;
  text-align: left;
  font-family: Helvetica;
}

#Chelseafact{
  font-style: italic;
  font-size: 120%;
}

#genimg {
  margin:10px 100px 5px 310px;
}

